@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.mma{
    background-color: rgb(22, 22, 22);
    background-repeat: no-repeat;
    background-size: cover;
}
.mma h1{
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  color: white; 
  font-size: 100px;
}
.mma h2{
  margin-left: 25%;
  margin-right:25%;
  font-family: "Bebas Neue", sans-serif;
  color: white; 
  font-size: 50px;
  text-align: justify;
}
.mma p{
  text-align: justify;
  margin-left: 25%;
  font-family: "Bebas Neue", sans-serif;
  color: white; 
  font-size: 25px;
  margin-right: 25%;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2c2c2c;
  color: white;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}
.footer h6{
  font-family: "Bebas Neue", sans-serif;
}

.logomid{
  margin-left:50%;
  margin-top: -70px;
  padding-left: -75px;
  height: 50px;
  width: auto;
  }
  ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2c2c2c;
  border-bottom: black;
  border-width: 2px;
  }
.fond{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 77%;
    border-radius: 8px;
}

.video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    padding-bottom: 50px;
}
.mma li{
  margin-left: 25%;
  margin-right:25% ;
  font-family: "Bebas Neue", sans-serif;
  color: white; 
  font-size: 25px;
  text-align: justify;
}

